.vs/
.vscode/
*.csproj
*.sln
Library/
Logs/
Temp/
UserSettings/
results/
Guia_de_Ideias.txt
Logos/
obj/
Builds/
Backups/
Assets/_Recovery/
Assets/ML-Agents/Timers/
Relatorio.zip
Relatorio (2).zip
Relatorio_atualizado.zip
Relatorio/
